[Desktop Entry]
Type=Application
Name=POTA Prop
Comment=Amateur Radio Parks on the Air (POTA) Hunt Tool
Exec=pota-prop
Icon=pota_prop
Categories=Network;HamRadio;Utility;
Terminal=false
